@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');

body {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 100vh;
    object-fit: cover;
    animation: breath 20s ease-in-out infinite;
    font-family: 'Lato', sans-serif;
    color: #fff;
    background-color: hsl(210, 36%, 96%);

}

.profile-bg-color {
    background-image: radial-gradient(circle at 30% 86%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 8%, transparent 8%, transparent 92%), radial-gradient(circle at 55% 100%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 8%, transparent 8%, transparent 92%), radial-gradient(circle at 40% 75%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 7% 99%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 69% 76%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 2% 35%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 14% 48%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 28% 87%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 4%, transparent 4%, transparent 96%), radial-gradient(circle at 65% 14%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 4%, transparent 4%, transparent 96%), radial-gradient(circle at 51% 36%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 4%, transparent 4%, transparent 96%), radial-gradient(circle at 6% 93%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 4%, transparent 4%, transparent 96%), linear-gradient(135deg, rgb(23, 233, 173), rgb(29, 24, 208));
}


nav {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    ;

}


.latname_input {
    background-color: aqua;
}

.dashboard-tab,
.Profile-tab {
    width: 50%;
    text-align: center;
    letter-spacing: 2px;
}



.link-box {
    border: 2px solid #fff;
    padding: 15px 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    position: relative;
}

.link-box:hover {
    color: #000;
    background-color: #fff;
}

@keyframes breath {
    0% {
        background-size: 100% 100vh;
    }

    50% {
        background-size: 105% 105vh;
    }

    100% {
        background-size: 100% 100vh;
    }
}

.link-container {
    flex-direction: row;
}

.info {
    width: 60%;
}

.btns {
    width: 40%;
    justify-content: space-evenly;
}

@media screen and (max-width: 440px) {
    .link-container {
        flex-direction: column;
    }

    .delete-btn {
        margin-left: 30px;

    }

    .info {
        width: 100%;
    }

    .btns {
        width: 100%;
        justify-content: flex-start;
    }
}